body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f0f0f0;
    font-size: 16px; /* Fanovana ny haben'ny soratra */
}

h1, h2 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 36px; /* Fanovana ny haben'ny lohateny h1 */
}

h2 {
    font-size: 28px; /* Fanovana ny haben'ny lohateny h2 */
}

p, .card-content {
    font-size: 18px; /* Fanovana ny haben'ny paragrafy sy ny atiny ao amin'ny card */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: white;
}

section {
    padding: 20px;
    background: rgba(0, 0, 0, 
.fade-in {
    opacity: 0;
    transition: opacity 2s;
}

.fade-in.visible {
    opacity: 1;
}
