.shop-container, .add-product-container {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin: auto;
}

.shop-container h2, .add-product-container h2 {
    color: #4B0082; /* Loko violet */
}

.add-product-container input, .add-product-container textarea, .add-product-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-product-container button {
    background-color: #4B0082; /* Loko violet */
    color: #ffffff; /* Loko fotsy */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-container button:hover {
    background-color: #0000FF; /* Loko manga */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    margin: 10px;
    max-width: 200px;
}
